@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
}

body {
	height: 100vh;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: #adadad69;
   box-shadow: inset 5px 0px 8px rgba(0, 0, 0, 0.822);
}

::-webkit-scrollbar-thumb {
   background: #000;
   border-radius: 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Navigation Bar Design */
.navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 40px;
   color: #fff;
}

.navigation .nav-contents > ul {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

.navigation .nav-contents > ul > li {
   margin-left: 30px;
   list-style: none;
   padding: 5px 20px;
   border: 1px solid #fff;
   border-radius: 25px;
   transition: .4s all;
   cursor: pointer;
}

.navigation .nav-contents > ul > li:hover {
   border: 1px solid #000000;
   background: #000000;
   color: #fff;
}

/* Dashboard Section Design*/
.dashboardSection {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 20px 0;
   /* background: rgb(73,220,255);
   background: linear-gradient(204deg, rgba(73,220,255,1) 0%, rgba(161,4,232,1) 89%); */
   background-image: url(./images/airport-cloud-plane-airplane.jpg);
   /* background-repeat: no-repeat; */
   background-size: cover;
   height: 100vh;
   box-shadow: -1px -40px 30px rgba(0, 0, 0, 0.6);
}

.mainScreen {
   padding: 20px;
   display: flex;
   flex-direction: column;
   /* border-bottom: 1px solid #000; */
}

.space {
   height: 90vh;
   width: 10%;
   display: flex;
   align-items: flex-end;
}

.spaceContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5em;
   line-height: 3em;
   font-size: 18px;
}

.spaceContent > a {
   margin-top: 10px;
   border: 1px solid #000;
   color: #000;
   font-size: 2em;
   padding: 10px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: .3s all ease-in-out;
   cursor: pointer;
   animation: shake 5s ease infinite;
}

@keyframes shake {
   0% {
      transform: translateY(0px);
   }

   25% {
      transform: translateY(10px);
   }

   50% {
      transform: translateY(0px);
   }

   75% {
      transform: translateY(10px);
   }

   100% {
      transform: translateY(0px);
   }
}

.spaceContent > a:hover {
   color: #fff;
   background: #000;
}

.line {
   padding: 2px;
   width: 100%;
   background: #000;
   z-index: -1;
}

.line > span {
   position: absolute;
   z-index: -1;
   bottom: 7.9em;
   left: 9.5em;
   background: white;
   padding: 0 2px;
}

.curvy0 {
   background: #249cc8;
   position: absolute;
   height: 58vh;
   margin-left: 23.4em;
   width: 5%;
   /* border-bottom-left-radius: 100%;
   border-bottom-right-radius: 100%; */
   z-index: -1;
}

.curvy1 {
   background: #249cc8;
   position: absolute;
   height: 60vh;
   width: 70%;
   z-index: -1;
   box-shadow: inset 5px -7px 8px rgba(0, 0, 0, 0.6);
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 80%;
}

.curvy2 {
   right: 0;
   position: absolute;
   height: 100vh;
   width: 70%;
   z-index: -1;
   background: #249cc8;
   box-shadow: inset 5px -7px 8px rgba(0, 0, 0, 0.6);
   border-bottom-left-radius: 40%;
}

.clouds {
   position: absolute;
}

@keyframes c1 {
   0% {
      transform: translateY(0px);
   }

   25% {
      transform: translateY(2px);
   }

   50% {
      transform: translateY(4px);
   }

   75% {
      transform: translateY(2px);
   }

   100% {
      transform: translateY(0px);
   }
}

@keyframes c2 {
   0% {
      transform: translateY(0px);
   }

   25% {
      transform: translateY(-4px);
   }

   50% {
      transform: translateY(0px);
   }

   75% {
      transform: translateY(4px);
   }

   100% {
      transform: translateY(0px);
   }
}

@keyframes c3 {
   0% {
      transform: translateY(0px);
   }

   25% {
      transform: translateY(4px);
   }

   50% {
      transform: translateY(0px);
   }

   75% {
      transform: translateY(-6px);
   }

   100% {
      transform: translateY(0px);
   }
}

@keyframes c4 {
   0% {
      transform: translateY(0px);
   }

   25% {
      transform: translateY(-4px);
   }

   50% {
      transform: translateY(0px);
   }

   75% {
      transform: translateY(-6px);
   }

   100% {
      transform: translateY(0px);
   }
}

#c1 {
   font-size: 7em;
   margin: .3em 0 0 3.5em;
   color: #fff;
   animation: c1 5s ease infinite;
}

#c2 {
   font-size: 7em;
   margin: 1em 0 0 6.5em;
   color: #fff;
   animation: c2 7s ease infinite;
}

#c3 {
   font-size: 7em;
   margin: 3em 0 0 8.5em;
   color: #fff;
   animation: c3 5s ease infinite;
}

#c4 {
   font-size: 7em;
   margin: 1em 0 0 10em;
   color: #fff;
   animation: c3 7s ease infinite;
}

#plane {
   position: absolute;
   margin: 2.4em 3.7em;
   transform: skew(45deg, -45deg);
   color: #000;
   font-size: 7em;
   /* z-index: -1; */
}

.container {
   height: 90vh;
   width: 90%;
   background: rgba(255, 255, 255, 0.719);
   border-radius: 10px;
   box-shadow: 0px 5px 25px rgb(0, 0, 0);
   display: flex;
   align-items: center;
   flex-direction: column;
   transition: .1s all ease-in-out;
}

.bgdesign {
   position: absolute;
   /* bottom: -30em; */
   height: 30vh;
   width: 10%;
   background: #249cc8;
   left: 5%;
   border-top-right-radius: 100%;
   border-bottom-right-radius: 100%;
   box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6);
}

.bgdesign1 {
   position: absolute;
   bottom: -44.15em;
   height: 30vh;
   width: 10%;
   background: #249cc8;
   right: 5%;
   border-top-left-radius: 300%;
   border-bottom-left-radius: 100%;
   box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6);
}

.container > h1 {
   margin: 20px;
   font-size: 2em;
}

.container .searchBar {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 30px 30px 30px;
}

.container .searchBar > input {
   padding: 10px;
   width: 20em;
   align-items: center;
   font-size: 1em;
   border: 1px solid #000;
   margin-left: 5px;
}

#origin {
   border-radius: 25px 0px 0px 25px;
}

.container .searchBar > input:focus {
   outline: none;
   box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6);
}

.container .searchBar > input:hover {
   box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6);
}

.container .searchBar > span {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 12px 15px;
   background: #000000;
   color: #fff;
   border-radius: 0px 25px 25px 0px;
   font-size: 1.5em;
   margin-left: 5px;
   border: none;
   cursor: pointer;
}

.container .searchBar > span:hover {
   box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.692);
}

.container .boards {
   display: flex;
   align-items: flex-start;
   height: 60vh;
   width: 90%;
   overflow-x: hidden;
   overflow-y: scroll;
   border-radius: 10px;
   z-index: 1;
}

.container .boards::-webkit-scrollbar {
   width: 10px;
}

.container .boards::-webkit-scrollbar-track {
   background: #adadad69;
   border-radius: 0px 10px 10px 0px;
   box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.774);

}

.container .boards::-webkit-scrollbar-thumb {
   background: #000000;
   border-radius: 0px 10px 10px 0px;
}

table {
   width: 100%;
   position: relative;
   border-collapse: collapse;
   color: #000;
   background: rgba(255, 255, 255, 0);
}

th {
   position: sticky;
   top: 0;
   background: #000000;
   color: #fff;
   z-index: 1;
   padding: 10px;
   text-align: left;
}

td {
   border-bottom: 1px solid #000;
   text-align: left;
   color: rgb(0, 0, 0);
   padding: 10px;
}




